<div class='products'>
    <div class='product'>
        <img src='../img/{{ good.img }}'>
        <h2>{{ good.name }}</h2>
        <p>{{ good.description }}</p>
        <h2>{{ good.price }} $</h2>
        <a href='/?c=good&a=one&id={{ good.id }}'>
            <button>Buy</button>
        </a>
    </div>

</div>
<a href='/?c=good'>To go back</a>
